{
  # Your private key. DO NOT share this with anyone!
  PrivateKey: {{ yggdrasil_private_key }}

  # List of outbound peer connection strings (e.g. tls://a.b.c.d:e or
  # socks://a.b.c.d:e/f.g.h.i:j). Connection strings can contain options,
  # see https://yggdrasil-network.github.io/configurationref.html#peers.
  # Yggdrasil has no concept of bootstrap nodes - all network traffic
  # will transit peer connections. Therefore make sure to only peer with
  # nearby nodes that have good connectivity and low latency. Avoid adding
  # peers to this list from distant countries as this will worsen your
  # node's connectivity and performance considerably.
  Peers: {{ yggdrasil_peers | to_nice_json }}

  # List of connection strings for outbound peer connections in URI format,
  # arranged by source interface, e.g. { "eth0": [ "tls://a.b.c.d:e" ] }.
  # You should only use this option if your machine is multi-homed and you
  # want to establish outbound peer connections on different interfaces.
  # Otherwise you should use "Peers".
  InterfacePeers: {{ yggdrasil_interface_peers | to_nice_json }}

  # Listen addresses for incoming connections. You will need to add
  # listeners in order to accept incoming peerings from non-local nodes.
  # This is not required if you wish to establish outbound peerings only.
  # Multicast peer discovery will work regardless of any listeners set
  # here. Each listener should be specified in URI format as above, e.g.
  # tls://0.0.0.0:0 or tls://[::]:0 to listen on all interfaces.
  Listen: {{ yggdrasil_listen | to_json }}

  # Listen address for admin connections. Default is to listen for local
  # connections either on TCP/9001 or a UNIX socket depending on your
  # platform. Use this value for yggdrasilctl -endpoint=X. To disable
  # the admin socket, use the value "none" instead.
  AdminListen: {{ yggdrasil_admin_listen }}

  # Configuration for which interfaces multicast peer discovery should be
  # enabled on. Regex is a regular expression which is matched against an
  # interface name, and interfaces use the first configuration that they
  # match against. Beacon controls whether or not your node advertises its
  # presence to others, whereas Listen controls whether or not your node
  # listens out for and tries to connect to other advertising nodes. See
  # https://yggdrasil-network.github.io/configurationref.html#multicastinterfaces
  # for more supported options.
  MulticastInterfaces: {{ yggdrasil_multicast_interfaces | to_nice_json }}

  # List of peer public keys to allow incoming peering connections
  # from. If left empty/undefined then all connections will be allowed
  # by default. This does not affect outgoing peerings, nor does it
  # affect link-local peers discovered via multicast.
  # WARNING: THIS IS NOT A FIREWALL and DOES NOT limit who can reach
  # open ports or services running on your machine!
  AllowedPublicKeys: {{ yggdrasil_allowed_public_keys | to_nice_json }}

  # Local network interface name for TUN adapter, or "auto" to select
  # an interface automatically, or "none" to run without TUN.
  IfName: {{ yggdrasil_if_name }}

  # Maximum Transmission Unit (MTU) size for your local TUN interface.
  # Default is the largest supported size for your platform. The lowest
  # possible value is 1280.
  IfMTU: {{ yggdrasil_if_mtu }}

  # By default, nodeinfo contains some defaults including the platform,
  # architecture and Yggdrasil version. These can help when surveying
  # the network and diagnosing network routing problems. Enabling
  # nodeinfo privacy prevents this, so that only items specified in
  # "NodeInfo" are sent back if specified.
  NodeInfoPrivacy: {{ yggdrasil_node_info_privacy | to_json }}

  # Optional nodeinfo. This must be a { "key": "value", ... } map
  # or set as null. This is entirely optional but, if set, is visible
  # to the whole network on request.
  NodeInfo: {{ yggdrasil_node_info | to_nice_json }}
}
